img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

#main {
    padding: $grid-gutter-width;

    .card-small {
        width: 400px;
        margin: 0 auto;
        max-width: 100%;
    }
}

#bug {
    position: fixed;
    z-index: 9999;
    right: $grid-gutter-width;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.svg-inline--fa {
    margin: 0 5px;
}

button .svg-inline--fa,
.btn .svg-inline--fa {
    vertical-align: middle;
    font-size: 130%;
}

.dangerzone {
    text-align: center;
    background: repeating-linear-gradient(
        45deg, 
        #e0d906, 
        #e0d906 10px,
        #000000 10px,
        #484848 20px
    );

    p {
        background: #000;
        color: #fff;
        padding: 3px 5px;
    }

    button {
        margin-bottom: 1rem;
    }
}