@import url('https://fonts.googleapis.com/css?family=Roboto');

$padding: 15px 25px;

html,
body {
    height: 100%;
    background: #e6e6e6;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;

    #root {
        height: 100%;
    }
}

a {
    color: #2b284e;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.panel {
    padding: $padding;
    background: #fff;
    border-radius: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 15px;
}

#featured {
    height: 600px;
    background-image: url(https://i.imgur.com/UKlkMvm.jpg?1);
    background-size: cover;
    background-position: center;
    position: relative;
}

#home {
    margin-top: -200px;
    position: relative;
    z-index: 10;
}

#main {
    padding: 30px 15px;
}

@import 'mixins';
@import 'components/header';
@import 'components/auth';
// @import 'components/components';
