html,
body {
    height: 100%;
    background: #424242;

    #root {
        height: 100%;
    }
}

.e-padding {
    padding: 10px 15px;
    overflow-y: auto;
}

.e-fullHeight {
    height: 100%;
}

.e-clickable {
    cursor: pointer;
}

@import 'mixins';
@import 'components/components';