@mixin mudfont {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    //font-family: "Lucida Console", Monaco, monospace !important;
    font-family: "Courier New", Monospace !important;
    font-size: 14px;
}
