@import 'inventory';

#game {

    .ui {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    p {
        margin: 0px;
    }

    #input-command {
        background: $white;
    }

    #map {
        background: $gray-100;
        margin: -1px;

        .y {
            display: flex;
        }

        .x {
            flex: 1 0 auto;
            height: auto;
            background: $gray-300;
            margin: 1px;
            position: relative;

            &::before {
                content: '';
                float: left;
                padding-top: 100%;
            }

            &.b {
                background: rgb(41, 145, 9);
            }

            &.c {
                background: rgb(170, 9, 9);

                &::after {
                    content: ' ';
                    position: absolute;
                    display: block;
                    width: 300%;
                    height: 300%;
                    border: 3px rgba(255, 0, 0, .5) solid;
                    border-radius: 50%;
                    z-index: 10;
                    transform: translate(-33%, -33%);
                }
            }
        }
    }

    .card-chat .messages {
        @include mudfont;
        overflow: auto;

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                &.chat-separator {
                    border-bottom: 1px solid #eaeaea;
                    margin: 5px 0px;
                }

                span {
                    margin-right: 2px;

                    &.timestamp {
                        color: $gray-600;
                    }
                }
            }
        }
    }

    .card-deck .card {
        flex: 0 0 calc(25% - #{$grid-gutter-width});
        margin-bottom: $grid-gutter-width;
    }

    .card-character {

        .stats {
            background: $gray-200;
            border-radius: $border-radius;
            margin-bottom: $grid-gutter-width / 2;
            font-size: ($font-size-base * .75);
        }

        .card-avatar {
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            text-align: center;

            .name {
                font-size: 140%;
            }

            .map {
                font-size: 90%;
                line-height: 1;
            }
        }
    }

    .middle {
        .menu {
            display: flex;
            flex-direction: row;

            &.menu-combat {
                //margin-left: 10%;
                //margin-right: 10%;
                background: $red;
                color: $white;
                a {
                    flex: initial;
                    width: 120px;
                    &:hover {
                        background-color: rgba(255, 255, 255, .1);
                    }
                }
                span {
                    &:hover {
                        background-color: inherit;
                    }
                }
            }

            &.menu-map {
                display: inline-flex;
            }

            > * {
                flex: auto;
                display: block;
                padding: 5px 15px;
                color: inherit;
                text-align: center;

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }

    .card {
        .card-body {
            padding: 10px 15px;
        }

        &.cluster {
            margin: 0px 0px 10px;
        }
    }

    /* TODO: These need refactoring - copied from old layout */
    .c-event-divider {
        width: 100%;
        display: black;
        height: 1px;
        border-bottom: 1px dashed #000;
        margin: 4px 0px 6px;
    }

    .c-inventory-list>div:nth-child(even) {
        background-color: #f3f3f3;
    }

    .c-item-actions {
        margin-top: 16px;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    .c-item-actions > div {
        width: 50%;
    }

    .c-shop-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        align-content: stretch;
    }

    .c-shop-items > div {
        height: 100%;
        position: relative;
        height: 375px;
        overflow-y: auto;

        &.__item-list {
            @include mudfont;
            width: 275px;

            .--selected {
                background: rgba(0, 0, 0, 0.16) !important;
            }
        }

        &.__item-details {
            @include mudfont;

            width: calc(100% - 300px);
            padding: 10px 15px;
            height: 355px;
        }

        .__action-shop {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .__close-shop {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .__shop-warning {
            position: absolute;
            bottom: 75px;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
}
