#header {
    z-index: 20;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

// #header {
//     background: #2b284e;
//     // color: #ddd;
//     // line-height: 50px;

//     .container {
//         display: flex;
//         flex-direction: row;

//         .logo {
//             font-size: 150%;
//             color: #fff;
//         }
//         ul, ul li {
//             margin: 0;
//             padding: 0;
//             list-style-type: none;
//         }
//         ul {
//             margin: 0 -15px;
//             flex: auto;
//             display: flex;

//             li {
//                 a {
//                     display: block;
//                     padding: 0 15px;
//                     color: inherit;
//                     &:hover {
//                         color: #fff;
//                     }
//                     &.active {
//                         background: rgba(255, 255, 255, .1);
//                     }
//                 }
//             }
//         }
//         ul.nav-auth {
//             justify-content: flex-end;
//         }
//     }
// }
