#page {
    position: fixed;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    /* Source: https://www.pexels.com/photo/man-doing-boxing-163403/ */
    background-image: url(https://i.imgur.com/UKlkMvm.jpg?1);
    background-size: cover;
    background-position: center;

    .card {
        width: 800px;
        max-width: 100%;
        opacity: .95;
        background: $primary-dark;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
