{
    "presets": [
        ["env", {
            "modules": "commonjs"
        }],
        "stage-2"
    ],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                ["module-resolver", {
                    "root": ["./"],
                    "alias": {
                        "shared": "./shared",
                        "config": "./config",
                        "utils": "./utils"
                    }
                }]
            ]
        },
        "production": {
            "plugins": [
                ["module-resolver", {
                    "root": ["./"],
                    "alias": {
                        "shared": "./build/shared",
                        "config": "./build/config",
                        "utils": "./build/utils"
                    }
                }]
            ]
        }
    }
}