{
    "presets": [
        "env",
        "stage-2"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "shared": "./shared"
            }
        }]
    ]
}