# JWT/Token signing key
SIGNING_SECRET=""

# Mailer
MAILER_USER=""
MAILER_PASSWORD=""

# Authentication Providers
# Syntax: if provider id is "google" the key would be: GOOGLE_CLIENT_SECRET;
# 
# GOOGLE_CLIENT_SECRET=""
# FACEBOOK_CLIENT_SECRET=""
# TWITTER_CLIENT_SECRET=""
# GITHUB_CLIENT_SECRET=""