.c-item-actions {
    margin-top: 16px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.c-item-actions > div {
    width: 50%;
}