.c-shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
}

.c-shop-items > div {
    height: 100%;
    position: relative;
    height: 375px;
    overflow-y: auto;

    &.__item-list {
        @include mudfont;
        width: 275px;

        .--selected {
            background: rgba(0, 0, 0, 0.16) !important;
        }
    }

    &.__item-details {
        @include mudfont;

        width: calc(100% - 300px);
        padding: 10px 15px;
        height: 355px;
    }

    .__action-shop {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .__close-shop {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .__shop-warning {
        position: absolute;
        bottom: 75px;
        width: 100%;
        left: 0;
        text-align: center;
    }
}