#game {
    display: flex;
    flex-direction: row;
    width: 100%;

    p {
        @include mudfont;
        margin: 0px;
    }

    .left, .right {
        flex: 0 0 240px;
    }

    .middle {
        flex: auto;
        padding: 0 15px;

        .panel-body {
            height: 400px;
            overflow: auto;
        }

    }

    .panel {
        @include mudfont;
        border-radius: 0;

        .panel-body {
            min-height: 120px;
        }
    }
}
